* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .5s ease-in;
    
}

body {
  font-family: "Raleway", sans-serif;
  color: #0c0c0c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  resize: both;
  
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.imagelite {
    background-image: url("../images/IMG-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-blend-mode: darken;
    backface-visibility: visible;
    filter: grayscale(50%);
    width: auto;
    height: 580px;
    border-radius: 40px;

}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dflex {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 10%;
    z-index: 1;
    z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
}




.nav_section {
    justify-content: space-between;
    align-items: center;
}

div.links {
    gap: 32px;
}

div.menu {
    width: 30%;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    
}

div.links > div.line {
    border-right: 1px solid gray;
  
}

.menu button {
    background-color: #0c0c0c;
    color: #ffffff;
    padding: 14px 3rem;
    outline: 0;
    border: 0;
    border-radius: 4px;

}

#img {
    background: url("../images/IMG-4.jpg");
    background-size: cover;
}


div.links > div {
    height: 32px;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 600;
}

.main {
    padding: 100px 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.main section {
    flex-grow: 1;
    flex-basis: auto;
    flex: 1;
    max-width: 50%;
    
}
.contentText {
    
}
.contentBig {
    max-width: 349px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-top: 10%;
    
    height: 100%;
}

.bic {
    font-size: 348%;
    margin-bottom: 32px;
}
.get_info {
    gap: 32px;
}

.get_info div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons button {
    border: 0;
    background-color: transparent;
    color: inherit;
    outline: 0;
}

div.btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 45px;
    border-radius: 5px;
}

.create {
    color: tomato;
}
#slik {
    color: tomato;
}
    


#set {

    width: 100%;
    padding: 50px 10%;

}

.just_color {
    background-color: sandybrown;
    height: 400px;
    border-radius: 20px;
    background: url("../images/IMG-2.jpg");
    background-size: cover;
    
}

.just_text {
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: -200px;
    display: flex;
}
.just_text> div {
    width: 50%;
}
.just_text> div:first-child{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.just_text> div:first-child h1 {
    font-size: 84px;
    resize: both;
}
.just_text> div:first-child h1 span {
    color: #ffffff;
}
.just_text> div:last-child {
    display: flex;
    align-items: end;
    resize: both;
    justify-content: end;
    word-spacing: 5px;
    letter-spacing: 0.5px;
    word-break: break-all;
    font-size: 18px;
}
.just_text> div:first-child button {

    outline: 0;
    border: 0;
    padding: 15px 45px;
    
    border-radius: 4px;
    background-color: #0c0c0c;
    color: #ffffff;    
}

#about {
    position: relative;
    padding: 100px 10%;
    margin: 32px 0;
    height: max-content;
    width: 100%;
    background-color: #0c0c0c;
    color: #ffffff;
    justify-content: space-between;
}

#about >section:first-child p{
    font-size: 200%;
    margin-top: 50px;
    color: white;
    font-weight: 600;
    width: 100%;
    max-width: 600px;
    letter-spacing: 1px;
}
#about >section:first-child h3{
    font-weight: lighter;
    
    color: white;
    line-height: 30px;
    text-shadow: 1px 2px gray;
    font-stretch: extra-expanded;
    letter-spacing: 1px;
}
#about > section:last-child {
    height: 450px;
    border-radius: 20px;
    width: 400px;
    background-color: chocolate;
}

.image_gallery {
    padding: 5px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


@media screen and (max-width: 760px) {
    .main {
        flex-direction: column;
    }
}


@media screen and (max-width: 760px) {
    header {
        padding: 20px 30px;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }
    .menu {
        justify-content: end !important;
    }
    .main {
        position: relative;
        flex-direction: column;
        padding: 100px 0 !important;
        padding-bottom: 40px !important;
        padding-top: 72px;
        left: 32px;
        right: 32px;
    }
    .main section {
        max-width: 80% !important;
    }
    .get_info {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        
    }

    .get_info > div {
        width: 75%;
        
    }
    
    .snone {
        display: none;
    }
    .just_text {
        margin-top: 0 !important;
        flex-direction: column !important;
    }
    .just_text span {
        color: sandybrown !important;
    }
    .just_text > div{
        width: auto !important;
        padding: 20px 0;
    }

    #about {
        flex-direction: column-reverse;
        gap: 20px;
    }
}